
  <!--========================================================-->
  <section class="banner5">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="banner-content">
              <h1 class="heading-1"> Editing and Proofreading Online Content</h1>
              <p>Ensure that your content for the online medium is flawlessly edited and leaves a remarkable impact on your
                readers</p>
              <a href="#/pricing">
                <button type="button" class="btn btn-success get-pricing">GET PRICING</button>
              </a>
              <br>
              <ul class="banner-list">
                <li>Expert proofreading and editing both included in a single fee!</li>
                <li>Appropriate layout, font, eliminate redundancy and ambiguity</li>
                <li>Fast, affordable and confidential service available 24/7</li>
                <li>Experienced native English speaking editors</li>
              </ul>

            </div>
            <!--end of banner content-->
          </div>
          <!--end of col-md-6-->

          <div class="col-md-5 col-sm-5 col-xs-12">

          </div>
          <!--end of col-md-6-->

        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </div>
    <!--end of container fluid-->
  </section>

