
.vs
AngularJSAuthentication.Web/bin
AngularJSAuthentication.ResourceServer/obj
AngularJSAuthentication.ResourceServer/bin
AngularJSAuthentication.API/obj
AngularJSAuthentication.API/bin
AngularJSAuthentication.Web/obj
/AngularJSAuthentication.API/Uploads
