<!--========================================================-->
<section class="banner3">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="banner-content">
                        <h1 class="heading-1"> Professional Editing for Your Writing</h1>
                        <p>
                            Proficient editing, careful proofreading and professional feedback to guarantee your work is refined, flawless
                            and impactful
                        </p>
                        <a href="#/pricing">
                            <button type="button" class="btn btn-success get-pricing">GET PRICING</button>
                        </a>
                        <div class="category">

                            <img src="content/images/or3.png" style="padding-left:3cm;">
                        </div>
                        <div class="responsive">
                            <a href="#/samples">
                                <button class="order" href="https:">Get a Free Sample</button>
                            </a>
                        </div>
                        <ul class="banner-list">
                            <li>Expert proofreading and editing both included in a single fee!</li>
                            <li>Enhance clarity, style, paragraph, syntax and sentence structure</li>
                            <li>Fast, affordable and confidential service available 24/7</li>
                            <li>Provide expert feedback on your content and ensure that it is error-free</li>
                        </ul>

                    </div>
                    <!--end of banner content-->
                </div>
                <!--end of col-md-6-->

                <div class="col-md-5 col-sm-5 col-xs-12">

                </div>
                <!--end of col-md-6-->

            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
    <!--end of container fluid-->
</section>
