<!--========================================================-->
<section class="banner3">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="banner-content">
                        <h1 class="heading-1"> Professional Editing for Your Writing</h1>
                        <p>
                            Proficient editing, careful proofreading and professional feedback
                            to guarantee your work is refined, flawless and impactful
                        </p>
                        <a href="pricing1.html"><button type="button" class="btn btn-success get-pricing">GET PRICING</button></a>
                        <div class="category">
                            <img src="images/or3.png" style="padding-left:3cm;">
                        </div>
                        <div>
                            <a href="free-sample-edit.html">   <button class="order" href="https:">Get a Free Sample</button></a>
                        </div>
                        <ul class="banner-list">
                            <li>Expert proofreading and editing both included in a single fee!</li>
                            <li>Enhance clarity, style, paragraph, syntax and sentence structure</li>
                            <li>Fast, affordable and confidential service available 24/7</li>
                            <li>Provide expert feedback on your content and ensure that it is error-free</li>
                        </ul>

                    </div><!--end of banner content-->
                </div><!--end of col-md-6-->

                <div class="col-md-5 col-sm-5 col-xs-12">

                </div><!--end of col-md-6-->

            </div><!--end of row-->
        </div><!--end of container-->
    </div><!--end of container fluid-->
</section>


<!--========================================================-->

<section class="author-services">
    <div class="container-fluid">
        <div class="container">

            <h2 class="b-1">
                Our Manuscript Services
            </h2>
            <div class="authbox">
                <h2>Proofreading and Editing for Your Writing</h2>
                <p>

                    &nbsp;
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <a href="authors.html">
                                <li>
                                    <span style="font-size: 20px;">
                                        novel
                                    </span>
                                </li>
                            </a>
                            <li>
                                <span style="font-size: 20px;">
                                    Book
                                </span>
                            </li>
                            <a href="authors.html">
                                <li>
                                    <span style="font-size: 20px;">
                                        Manuscript
                                    </span>
                                </li>
                            </a>
                            <li>
                                <span style="font-size: 20px;">
                                    Ebook
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>
                                <span style="font-size: 20px;">
                                    Textbook
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 20px;">
                                    Script
                                </span>
                            </li>
                            <a href="authors.html">
                                <li>
                                    <span style="font-size: 20px;">
                                        Screenplay
                                    </span>
                                </li>
                            </a>
                            <li>
                                <span style="font-size: 20px;">
                                    Play
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>
                                <span style="font-size: 20px;">
                                    Biography
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 20px;">
                                    Story
                                </span>
                            </li>
                            <a href="authors.html">
                                <li>
                                    <span style="font-size: 20px;">
                                        Magazine
                                    </span>
                                </li>
                            </a>
                            <a href="authors.html">
                                <li>
                                    <span style="font-size: 20px;">
                                        Poem
                                    </span>
                                </li>
                            </a>
                        </ul>
                    </div>

                </div><!--end of row-->


            </div><!--end of authbox-->
        </div><!--end of container-->
    </div><!--end of container fluid-->
</section>


<!--=========================================================================================-->

<section class="steps1">
    <div class="glove">
        <div class="container">

            <div class="text-center">
                <h2>Our Proofreading Samples</h2>
            </div>
            <div style="text-align: left">


                <span style="font-size:16px;">
                    <span style="color:#696969;">
                        <span style="font-family:arial,helvetica,sans-serif;">
                            <p>If you are looking for an impeccable and personalised online proofreading and editing service, True Editors is definitely the one to go for. Be it any kind, we treat          every document with the utmost care and attention to details.We are ,hands down the best online proofreading and editing service..</p>

                            <p>Whether you're submitting a report, catalogue, brochure, marketing material, legal document, official e-mail, business plan, business document, newsletter, manual or a press release, you'll find our service useful!</p>

                            <p> Check out the editing samples to get an idea of what to expect when you orderour service.</p>
                        </span>
                    </span>
                </span>
            </div><br><br>
            <div class="text-center">
                <a href="#"><buttton target="_blank" href="" class="view">VIEW SAMPLE</buttton></a>
            </div>
        </div>
    </div>
</section>
<!-------------------------------------------------------------------->
<section class="editing-services">
    <div class="container-fluid editing-services-inside">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <div class="editing-services-box">
                        <h3 class="heading-1"><center>What Our English Editing Service Will Do</center></h3>
                        <ul class="editing-list">
                            <li>Proof-read your manuscript to correct the grammar, spellings and eliminate any errors,  finalising the work for publication without altering your storyline.</li>
                            <li>Keep in mind things like leaving the dialects alone, preserving your voice and vision that can help you to make your manuscript more appealing to all.</li>
                            <li>We have strict privacy policies with respect to the confidentiality of your manuscripts to make sure that you retain complete creative control over them.</li>
                            <li>Superior quality of editing for diverse forms of poetry and prose, in any genre, we are dedicated to protect and safeguard your ideas and creations.</li>
                            <li>Provide you with personal constructive feedback and guidelines, to improve your document, and enable you to become better at assessing your own work.</li>
                            <li>Focus on helping you to communicate your ideas clearly and concisely to the audience, by giving you a better, stronger, and perfectly crafted manuscript.</li>
                        </ul>

                    </div><!--end of editing services box-->

                </div><!--end of col-md-6-->


            </div><!--end of row-->
        </div><!--end of container-->
    </div><!--end of container fluid-->
</section>
<!--===============================================================-->
<!------------------------------------------------------------------------>
