<!--========================================================-->
<section class="banner2">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="banner-content">
                        <h1 class="heading-1"> Business Editing and <br>Proofreading</h1>
                        <p>
                            Professionally edited business documents help build your
                            business and make a lasting impression on your clients
                        </p>
                        <button type="button" class="btn btn-success get-pricing">GET PRICING</button>
                        <br><br>
                        <ul class="banner-list">
                            <li>Expert proofreading and editing both included in a single fee!</li>
                            <li>Correct all formatting issues like tone, layout, font, number style etc</li>
                            <li>Fast, affordable and confidential service available 24/7</li>
                            <li>Experienced native English speaking editors</li>
                        </ul>

                    </div><!--end of banner content-->
                </div><!--end of col-md-6-->

                <div class="col-md-5 col-sm-5 col-xs-12">

                </div><!--end of col-md-6-->

            </div><!--end of row-->
        </div><!--end of container-->
    </div><!--end of container fluid-->
</section>


<!--========================================================-->

<section class="buisness-services">
    <div class="container-fluid">
        <div class="container">

            <h2 class="b-1">Our Business Services</h2>
            <div class="busbox">
                <h2>Proofreading and Editing for Your Business Needs</h2>
                <p>

                    &nbsp;
                </p>
                <div class="row">
                    <div class="col-md-4">
                        <ul>
                            <a href="business1.html">
                                <li>
                                    <span style="font-size: 20px;">
                                        Report
                                    </span>
                                </li>
                            </a>
                            <a href="business1.html">
                                <li>
                                    <span style="font-size: 20px;">
                                        Manual
                                    </span>
                                </li>
                            </a>
                            <a href="business1.html">
                                <li>
                                    <span style="font-size: 20px;">
                                        Brochure
                                    </span>
                                </li>
                            </a>
                            <a href="business1.html">
                                <li>
                                    <span style="font-size: 20px;">
                                        Press Release
                                    </span>
                                </li>
                            </a>
                            <li>
                                <span style="font-size: 20px;">
                                    Annual Report
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 20px;">
                                    Direct Mail
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>
                                <span style="font-size: 20px;">
                                    Official E-mail
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 20px;">
                                    Business Document
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 20px;">
                                    Website Content
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 20px;">
                                    Legal Document
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 20px;">
                                    Tender Proposal
                                </span>
                            </li>
                            <a href="business1.html">
                                <li>
                                    <span style="font-size: 20px;">
                                        PDF Document
                                    </span>
                                </li>
                            </a>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul>
                            <li>
                                <span style="font-size: 20px;">
                                    Newsletter
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 20px;">
                                    Marketing Material
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 20px;">
                                    Business Plan
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 20px;">
                                    Mission Statment
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 20px;">
                                    Training Material
                                </span>
                            </li>
                            <li>
                                <span style="font-size: 20px;">
                                    Technical Manual
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div><!--end of row-->


        </div><!--end of container-->
    </div><!--end of container fluid-->
</section>


<!--=========================================================================================-->
<div class="clearfix"></div>
<section class="steps1">
    <div class="glove">
        <div class="container">

            <div class="text-center">
                <h2>Our Proofreading Samples</h2>
            </div>
            <div style="text-align: left">


                <span style="font-size:16px;">
                    <span style="color:#696969;">
                        <span style="font-family:arial,helvetica,sans-serif;">
                            <p> If you are looking for an impeccable and personalised online proofreading and editing service, True Editors is definitely the one to go for. Be it any kind, we treat          every document with the utmost care and attention to details.We are ,hands down the best online proofreading and editing service..</p>

                            <p> Whether you're submitting a report, catalogue, brochure, marketing material, legal document, official e-mail, business plan, business document, newsletter, manual or a press release, you'll find our service useful!</p>

                            <p>  Check out the editing samples to get an idea of what to expect when you orderour service.</p>
                        </span>
                    </span>
                </span>
            </div><br><br>
            <div class="text-center">
                <a href=""> <buttton target="_blank" class="view">VIEW SAMPLE</buttton></a>
            </div>
        </div>
    </div>
</section>
<!-------------------------------------------------------------------->
<section class="editing-services">
    <div class="container-fluid editing-services-inside">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <div class="editing-services-box">
                        <h3 class="heading-1"><center>What Our English Editing Service Will Do</center></h3>
                        <ul class="editing-list">
                            <li>Dedicated to protect your privacy and to safeguard your business information, we guard all your business documents and keep them very confidential. </li>
                            <li>As information about your products or services has to be effectively conveyed through the written word, we edit your documents with special care.</li>
                            <li>Superior quality proofreading and editing service that makes your document succinct and grammatically correct; we deliver it before the deadline, every time.></li>
                            <li>Flawless editing by experienced, well-qualified editors, at competitive prices to improve the quality and coherence of your business document.</li>
                            <li>Ensure superior customer service, our team is available 24/7 to handle all requests and provide personalised service that is flexible to your requirements.</li>
                            <li>Provide personal constructive feedback and guidelines, to not only improve your writing, but to enable you to become better at assessing your own work.</li>
                        </ul>

                    </div><!--end of editing services box-->

                </div><!--end of col-md-6-->


            </div><!--end of row-->
        </div><!--end of container-->
    </div><!--end of container fluid-->
</section>

