

    <section class="contactus">
        <div class="category">
            <div class="container-fluid" style="background-color: aliceblue" ;>
                <h2>Contact Us</h2>
                <div class="clearfix"></div>
                <p class="text-center">We are available 24/7   for support. You can contact us for:</p>
                <p class="text-center">&nbsp;</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="gear">

            <div class="container contfld">
                <div class="">
                    <h2>
                        You can write to us below to send your enquiry and we will get back to you ASAP.
                    </h2>
                </div><br>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-8">
                        <form name="form" class="form-horizontal has-success">


                            <div class="form-group">
                                <label for="username">Your Name</label>

                                <input type="text" name="firstName" id="firstName" class="form-control" required />
                            </div>


                            <div class="form-group">
                                <label for="email">Email</label>

                                <input type="email" name="email" id="email" class="form-control" required />

                            </div>

                            <div class="form-group">
                                <label for="password">Phone</label>

                                <input type="nimber" name="password" id="password" class="form-control" required />

                            </div>

                            <div class="form-group">
                                <label for="message">Message</label>

                                <input type="message" name="message" id="message" class="form-control" required />

                            </div>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Attach File</label>
                                <input type="file">
                                <span class="error_msg" style="color:red"> </span>

                            </div>
                            <div class="clearfix"></div>
                            <div class="subm"> <input type="submit" value="Submit" class="subm1"></div>
                        </form>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <div class="contbox">
                            <div class="row">
                                <div class="col-sm-4"><img src="content/images/phn1.png" alt="phn image"></div>
                                <div class="col-sm-7 contdtl">
                                    Phone<br>
                                    <span>
                                        +1 650 488 4532
                                    </span>
                                </div>
                            </div>
                        </div><br>
                        <div class="clearfix"></div>
                        <div class="contbox">

                            <div class="row">
                                <div class="col-sm-4"><img src="content/images/email.png" alt=" email img"></div>
                                <div class="col-sm-7 contdtl">
                                    Email<br>
                                    <span>
                                        <a href="mailto:">support.com</a>
                                    </span>
                                </div>
                            </div>
                        </div><br>
                        <div class="clearfix"></div>
                        <div class="contbox">
                            <div class="row">
                                <div class="col-sm-4"><img src="content/images/mail.png" alt="mail img"></div>
                                <div class="col-sm-7 contdtl">
                                    Mail
                                    <br>
                                    <span><a href="mailto:">support@.com</a>

                                </div>

                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
    </section>
