

    <section class="quest">
        <div class="geatbg">
            <div class="container getstarted">
                <div class="text-center"><h1>Frequently Asked Questions</h1></div>
                <div class="clearfix"></div>
                <!-- accordion div  -->

                <div class="container">
                    <div class="faqser">
                        <h2>
                            Services
                        </h2>

                        <button type="button" class="btnfaq" data-toggle="collapse" data-target="#demo">What kind of editing  and proofreading services do you offer?</button>
                        <div id="demo" class="collapse">
                            <p style="text-align: justify;">
                                <span style="font-family:arial,helvetica,sans-serif;"><span style="color:#696969;"><span style="font-size:14px;">We will edit and proofread your document for all language errors such as spelling, grammar, punctuation, and typography. There will be in-depth editing for style, tone, choice of words and the structure of sentences.&nbsp;</span><span style="font-size: 14px;">Your documents are edited by native English language experts who have knowledge of a variety of academic and professional fields.</span></span></span>
                            </p>
                        </div>
                    </div>



                    <div class="faqser">
                        <h2>
                            Pricing
                        </h2>

                        <button type="button" class="btnfaq " data-toggle="collapse" data-target="#demo1">How much will your services cost me? </button>
                        <div id="demo1" class="collapse">
                            <p style="text-align:justify;">
                                <span style="color:#696969;">Our prices are devised in a manner to suit your pocket. Our effective pricing is based on the word count and the turnaround time of your document. However, prices may vary depending up on the delivery type you choose. To know more about our pricing please visit the 'Pricing' section on our website.</span>
                            </p>
                        </div>
                    </div>

                    <div class="faqser">
                        <h2>
                            Payment Methods
                        </h2>

                        <button type="button" class="btnfaq" data-toggle="collapse" data-target="#demo2">How can I pay you?</button>
                        <div id="demo2" class="collapse">
                            <p style="text-align:justify;">
                                <span style="color:#696969;">You can make the payment online using your debit or credit card, via PayPal, a globally accepted and secure payment gateway secure payment gateway that uses industry standard data encryption to protect all your information. All transactions made via their system are guaranteed to be safe.</span>
                            </p>


                        </div>
                    </div>

                    <div class="faqser">
                        <h2>
                            Quality
                        </h2>

                        <button type="button" class="btnfaq" data-toggle="collapse" data-target="#demo3">How can I be assured of the quality of your services?</button>
                        <div id="demo3" class="collapse">
                            <p style="text-align:justify;">
                                <span style="color:#696969;">You can be assured of our quality as we have the highest standards of English which you will find very impactful and flawless. We are a highly reputed global firm which is well-known for its integrity. Our native English language experts perfectly proofread and copy-edit documents which should assure you about your work being flawlessly edited and proofread and delivered on time. We deliver over 100 edited documents each day to individuals across the globe.</span>
                            </p>

                        </div>
                    </div>

                    <div class="faqser">
                        <h2>
                            Samples
                        </h2>
                        <button type="button" class="btnfaq" data-toggle="collapse" data-target="#demo4">  Do you offer free samples of your proofreading and editing services?</button>
                        <div id="demo4" class="collapse">
                            <p style="text-align:justify;">
                                <span style="color:#696969;">You can view our samples in our ‘Samples’ section. If you want a sample edit from us to see for yourself our highest quality of proofreading and editing we would be happy to offer you one. Just contact our customer care team (support@.com ) and ask for your sample edit.</span>
                            </p>

                        </div>
                    </div>



                    <div class="faqser">
                        <h2>
                            Contact Us
                        </h2>

                        <button type="button" class="btnfaq" data-toggle="collapse" data-target="#demo5"> How may I contact you? </button>
                        <div id="demo5" class="collapse">
                            <p style="text-align:justify;">
                                <a href="contact.html">Click here</a> <span style="color:#696969;">to contact us via email or telephone. You are always welcome to chat with our supportive customer care team.</span>
                            </p>

                        </div>
                    </div>
                    <p>

                        <!-- quest section end -->
                        <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </section>

