
<section class="banner">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                    <div class="banner-content">
                        <h1 class="heading-1">Professional Editing and Proofreading</h1>
                        <p>
                            We ensure your documents are perfectly edited and proofread

                            with our affordable, secure and fast service
                        </p>
                        <a href="#/pricing"><button type="button" class="btn btn-success get-pricing">GET PRICING</button></a>
                        <br>
                        <ul class="banner-list">
                            <li>Proofreading and editing both included in a single fee!</li>
                            <li>Fast, affordable and available 24/7</li>
                            <li>Experienced native English speaking editors</li>
                            <li>Confidential, safe and secure service</li>
                        </ul>

                    </div><!--end of banner content-->
                </div><!--end of col-md-6-->

                <div class="col-md-4 col-sm-4 col-xs-12">

                </div><!--end of col-md-6-->

            </div><!--end of row-->
        </div><!--end of container-->
    </div><!--end of container fluid-->
</section>


<!--========================================================-->

<section class="home-services">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <h2 class="heading-1">Our Services</h2>
                </div><!--end of col-md-12-->
            </div><!--end of row-->

            <br>

            <div class="row row-eq-height">
                <div class="col-md-offset-1 col-md-2 col-sm-2 col-xs-12">
                    <a href="academic.html">
                        <div class="service-box">
                            <div class="service-box-img">
                                <img src="content/images/academic.png" class="img-responsive service-icon" width="100">
                            </div><!--end of service box icon-->

                            <div class="service-box-text">
                                <h3 class="heading-1">Academic</h3>
                                <!--Dissertation, Thesis, Essay, Assignment, Literature Review, Research Paper, Article, Manuscript, Lecture Note, Journal Article, etc.-->
                            </div><!--end of service box text-->

                        </div>
                    </a><!--end of service box-->
                </div><!--end of col-md-3-->
                <!--=================-->

                <div class="col-md-2 col-sm-2 col-xs-12">
                    <a href="business1.html">
                        <div class="service-box">
                            <div class="service-box-img">
                                <img src="content/images/business.png" class="img-responsive service-icon" width="100">
                            </div><!--end of service box icon-->

                            <div class="service-box-text">
                                <h3 class="heading-1">Business</h3>
                                <!--Marketing Material, Business document, Report, Catalogue, Brochure, Legal Document, E-mail, Newsletter, Manual, Press Release, etc.-->
                            </div><!--end of service box text-->

                        </div>
                    </a><!--end of service box-->
                </div><!--end of col-md-3-->
                <!--==========================-->

                <div class="col-md-2 col-sm-2 col-xs-12">
                    <a href="authors.html">
                        <div class="service-box">
                            <div class="service-box-img">
                                <img src="content/images/authors.png" class="img-responsive service-icon" width="100">
                            </div><!--end of service box icon-->

                            <div class="service-box-text">
                                <h3 class="heading-1">Authors</h3>
                                <!--Novel, Book, Manuscript, Magazine, Text Book, Story, Poem, Screenplay, Script, Blog Post, etc.-->
                            </div><!--end of service box text-->

                        </div>
                    </a><!--end of service box-->
                </div><!--end of col-md-3-->
                <!--=============================-->

                <div class="col-md-2 col-sm-2 col-xs-12">
                    <a href="personal.html">
                        <div class="service-box">
                            <div class="service-box-img">
                                <img src="content/images/personal.png" class="img-responsive service-icon" width="100">
                            </div><!--end of service box icon-->

                            <div class="service-box-text">
                                <h3 class="heading-1">Personal</h3>
                                <!--Résumé, CV, Cover Letter, E-mail, Personal Statement, ESL, University Application, Statement of Purpose, Speech, etc.-->
                            </div><!--end of service box text-->

                        </div>
                    </a><!--end of service box-->
                </div><!--end of col-md-3-->
                <!--=============================-->

                <div class="col-md-2 col-sm-2 col-xs-12">
                    <a href="online-content.html">
                        <div class="service-box">
                            <div class="service-box-img">
                                <img src="content/images/online-content.png" class="img-responsive service-icon" width="100">
                            </div><!--end of service box icon-->

                            <div class="service-box-text">
                                <h3 class="heading-1">Online Content</h3>
                                <!--Résumé, CV, Cover Letter, E-mail, Personal Statement, ESL, University Application, Statement of Purpose, Speech, etc.-->
                            </div><!--end of service box text-->

                        </div>
                    </a><!--end of service box-->
                </div><!--end of col-md-3-->

            </div><!--end of row-->

        </div><!--end of container-->
    </div><!--end of container fluid-->
</section>

