<div class="container">

    <h2>Order Review</h2>
    <div class="clearfix"></div>
    <div class="loginbox">
        <div class=" table-responsive">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered">
                <tr>
                    <td>
                        File Name:
                    </td>
                    <td>sample.docx</td>
                </tr>
                <tr>
                    <td>
                        Word Count:
                    </td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>
                        Turnaround Time:
                    </td>
                    <td>12 Hours Turnaround</td>
                </tr>
                <tr>
                    <td>
                        Price Quote:
                    </td>
                    <td>&#8377; 3</td>
                </tr>
                <tr id="columnN" style="display:none">
                    <td><strong id="textN">Final Amout:</strong></td>
                    <td id='fDiscountN'></td>
                </tr>




                <tr id="column2" style="display:none">
                    <td>
                        <strong>Final Amout:</strong>
                    </td>
                    <td id='fDiscount'>&#8377; 3		</td>
                </tr>



            </table>

        </div>
        <div class="form-group center-block">
            <button type="button" class="btn btn-success" data-ng-click="orderReview()">PAY NOW</button>

        </div>
    </div>
    <div class="clearfix"></div>
</div>

</div>
