<!--</div></div><div class="clearfix"></div>-->
<div class="clearfix"></div>
<div class="container userpage">
    <div class=" row">
        <div class="col-lg-2 col-md-2 col-sm-3">
            <div class="userlft">
                <h2>My Account</h2>
                <ul>
                    <li><a href="#/pricing">Upload Document</a></li>
                    <li><a href="#/orders">My orders</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="#/contact">Support</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-9">
            <div class="userrht">
                <h2>My Orders</h2>
                <div class="clearfix"></div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <td width="60" align="center"><strong>Order Date</strong></td>
                            <td width="47" align="center"><strong>Job ID</strong></td>
                            <td width="85" align="left"><strong>File Name</strong></td>
                            <td width="50" align="center"><strong>Quote</strong></td>
                            <td width="70" align="center"><strong>Payment Status</strong></td>
                            <td width="95" align="center"><strong>Job Status</strong></td>
                            <!--<td width="59" align="center"><strong>File Details</strong></td>-->
                            <!--<td width="61" align="center"><strong>Action</strong></td>-->
                        </tr>
                        <tr ng-repeat="o in orders ">
                            <td align="center">{{o.orderDate}}</td>
                            <td align="center">{{o.orderDetailID}}</td>
                            <td align="left"><a target='_blank' href='https://trueeditors.com/stuff/document_uploaded/testDoc.doc'>{{o.displayFileName}}</a></td>
                            <td align="center">{{o.priceQuote}}</td>
                            <td align="center">{{o.paymentStatus}}</td>
                            <td align="center">{{o.jobStatus}}</td>

                        </tr>
                       
                        <!--<tr>
                            <td align="center">10:20 PM, 15 Mar 2018</td>
                            <td align="center">5056</td>
                            <td align="left"><a target='_blank' href='https://trueeditors.com/stuff/document_uploaded/testDoc.doc'>testDoc.doc</a></td>
                            <td align="center">INR144</td>
                            <td align="center">Pending</td>
                            <td align="center">In Process</td>
                            
                        </tr>-->
                        <!--<tr>
                            <td align="center">08:35 PM, 9 Mar 2018</td>
                            <td align="center">4984</td>
                            <td align="left"><a target='_blank' href='https://trueeditors.com/stuff/document_uploaded/sample.docx'>sample.docx</a></td>
                            <td align="center">INR3</td>
                            <td align="center">Pending</td>
                            <td align="center">In Process</td>
                            
                        </tr>-->

                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
