<div class="container">

    <h2>Order Review</h2>
    <div class="clearfix"></div>
    <div class="loginbox">
        <div class=" table-responsive">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered">
                <tr>
                    <td>
                        File Name:
                    </td>
                    <td><a target='_blank' href='{{serviceBase}}Uploads/{{StoredFilename}}'>{{DisplayFileName}}</a></td>
                </tr>
                <tr>
                    <td>
                        Word Count:
                    </td>
                    <td>{{wordCount}}</td>
                </tr>
                <tr>
                    <td>
                        <!--Turnaround Time:-->Delivery Type
                    </td>
                    <td><!--12 Hours Turnaround-->{{deliveryType}}</td>
                </tr>
                <tr>
                    <td>
                        Price Quote:
                    </td>
                    <td>{{PriceQuote}}</td>
                </tr>

            </table>

        </div>
        <div class="form-group center-block">
            <!--<button type="button" class="btn btn-success" data-ng-click="orderReview()">PAY NOW</button>-->
            <button stripe-checkout="doCheckout" class="btn btn-success"
                    data-key="pk_test_vwrEXVUzBFh6Jn2CESsK6MYA"
                    data-name="Simple Example"
                    data-description="Five dollahs!"
                    data-amount="{{Price}}">
                Buy
            </button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

</div>
