<div class="container">

    <h2>Order Review</h2>
    <div class="clearfix"></div>
    <div class="loginbox">
        <div class=" table-responsive">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-bordered">
                <tr>
                    <td>
                        File Name:
                    </td>
                    <td><a target='_blank' href='{{serviceBase}}Uploads/{{StoredFilename}}'>{{DisplayFileName}}</a></td>
                </tr>
                <tr>
                    <td>
                        Username:
                    </td>
                    <td> {{userName}}</td>
                </tr>
                <!--<tr>
                    <td>
                        Email ID:
                    </td>
                    <td>{{email}}</td>
                </tr>-->
                <tr>
                    <td>
                        Reference File:<br />
                        (Only .doc, .docx, .pdf, .zip allowed)
                    </td>
                    <td>
                        <input type="file" id="newfile" class="uploadFile" accept=".doc,.docx,.zip,.pdf" ngf-select ng-model="files" ng-multiple="true">
                    </td>
                </tr>
                <tr>
                    <td>
                        Word Count:
                    </td>
                    <td>

                        <input type="text" class="form-control" placeholder="" data-ng-model="wordCount" style="width:200px;">
                        <button type="button" class="btn btn-default btn-success" data-ng-click="getPriceQuote(wordCount)">Calculate</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!--Turnaround Time:-->Delivery Type
                    </td>
                    <td><!--12 Hours Turnaround-->{{deliveryType}}</td>
                </tr>
                <tr>
                    <td>
                        Price Quote:
                    </td>
                    <td>
                        <div class="col-xs-5">
                            {{PriceQuote | currency : currencySelected.value}}
                        </div>  <!--<div class="col-xs-5">
                            <select ng-model="currencySelected" ng-change="currencyChange()" style="border: 1px solid #2d97c5;box-shadow: none;padding: 0;margin-left: 5px;height: 30px;"
                                    ng-options="currency as currency.label for currency in currencyList">
                                >
                            </select>
                        </div>-->
                    </td>

                </tr>
                <tr>
                    <td>
                        Document Type:
                    </td>
                    <td>{{DocType}}</td>
                </tr>
                <tr>
                    <td>
                        Subcategory:
                    </td>
                    <td>{{SubCatType}}</td>
                </tr>
                <tr>
                    <td>
                        English Style:
                    </td>
                    <td>{{EnglishStyle}}</td>
                </tr>
                <tr>
                    <td>
                        Referencing:
                    </td>
                    <td>{{Referencing}}</td>
                </tr>
                <tr>
                    <td>
                        Your Requirements:
                    </td>
                    <td>{{Requirments}}</td>
                </tr>


            </table>

        </div>
        <div class="form-group center-block">
            <!--<button type="button" class="btn btn-success" data-ng-click="orderReview()">PAY NOW</button>-->
            <button stripe-checkout="doCheckout" class="btn btn-success"
                    data-key="pk_test_vwrEXVUzBFh6Jn2CESsK6MYA"
                    data-name="Zero Zilla"
                    data-description="Payment Gateway" data-currency="{{currencySelected.label}}"
                    data-amount="{{Price }}">
                Buy
            </button>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

</div>
