
<section class="banner5">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="banner-content">
                        <h1 class="heading-1"> Editing and Proofreading Online Content</h1>
                        <p>
                            Ensure that your content for the online medium is flawlessly
                            edited and leaves a remarkable impact on your readers
                        </p>
                        <button type="button" class="btn btn-success get-pricing">GET PRICING</button>
                        <br>
                        <ul class="banner-list">
                            <li>Expert proofreading and editing both included in a single fee!</li>
                            <li>Appropriate layout, font, eliminate redundancy and ambiguity</li>
                            <li>Fast, affordable and confidential service available 24/7</li>
                            <li>Experienced native English speaking editors</li>
                        </ul>

                    </div><!--end of banner content-->
                </div><!--end of col-md-6-->

                <div class="col-md-5 col-sm-5 col-xs-12">

                </div><!--end of col-md-6-->

            </div><!--end of row-->
        </div><!--end of container-->
    </div><!--end of container fluid-->
</section>


<!--========================================================-->

<section class="buisness-services">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <h2 class="b-1">Our Personal Services</h2>
                <div class="busbox">
                    <h2>Proofreading and Editing for Your Personal Documents</h2>
                    <p>

                        &nbsp;
                    </p>
                    <ul>
                        <li>
                            <span style="font-size: 20px;">
                                Website Content
                            </span>
                        </li>
                        <li>
                            <span style="font-size: 20px;">
                                Editorial Content
                            </span>
                        </li>
                        <li>
                            <span style="font-size: 20px;">
                                Corporate Blog
                            </span>
                        </li>
                        <li>
                            <span style="font-size: 20px;">
                                Banner Content
                            </span>
                        </li>
                        <li>
                            <span style="font-size: 20px;">
                                Article
                            </span>
                        </li>
                        <li>
                            <span style="font-size: 20px;">
                                LinkedIn Profile
                            </span>
                        </li>
                        <li>
                            <span style="font-size: 20px;">
                                Blog Post
                            </span>
                        </li>
                        <li>
                            <span style="font-size: 20px;">
                                Facebook Post
                            </span>
                        </li>
                        <li>
                            <span style="font-size: 20px;">
                                Customized Content
                            </span>
                        </li>
                        <li>
                            <span style="font-size: 20px;">
                                Reviews Enhancing
                            </span>
                        </li>
                        <li>
                            <span style="font-size: 20px;">
                                Social Media Content
                            </span>
                        </li>
                        <li>
                            <span style="font-size: 20px;">
                                SEO Content
                            </span>
                        </li>
                        <li>
                            <span style="font-size: 20px;">
                                PDF Document
                            </span>
                        </li>
                        <li>
                            <span style="font-size: 20px;">
                                News Letter
                            </span>
                        </li>
                        <li>
                            <span style="font-size: 20px;">
                                Video Content
                            </span>
                        </li>
                        <li>
                            <span style="font-size: 20px;">
                                Web content
                            </span>
                        </li>
                        <li>
                            <span style="font-size: 20px;">
                                Report
                            </span>
                        </li>
                        <li>
                            <span style="font-size: 20px;">
                                Presentation
                            </span>
                        </li>
                    </ul>
                </div>

            </div><!--end of row-->


        </div><!--end of container-->
    </div><!--end of container fluid-->
</section>


<!--=========================================================================================-->

<section class="steps1">
    <div class="glove">
        <div class="container">

            <div class="text-center">
                <h2>Our Content Writing Samples</h2>
            </div>
            <div style="text-align: left">


                <span style="font-size:16px;">
                    <span style="color:#696969;">
                        <span style="font-family:arial,helvetica,sans-serif;">
                            If you are looking for an impeccable and personalised online proofreading and editing service, True Editors is definitely the one to go for. Be it any kind, we treat          every document with the utmost care and attention to details.We are ,hands down the best online proofreading and editing service..<br>

                            When you can't afford to have any mistakes in your document, True Editors is the service to use! All documents such as your website content, LinkedIn profile, social media content, editorial content (articles, blog posts) are edited till perfection.<br>

                            <span>Check out the editing samples to get an idea of what to expect when you orderour service.</span>
                        </span>
                    </span>
                </span>
            </div><br><br>
            <div class="text-center">
                <buttton target="_blank" href="" class="view">VIEW SAMPLE</a>
            </div>
        </div>
    </div>
</section>
<!-------------------------------------------------------------------->
<section class="editing-services">
    <div class="container-fluid editing-services-inside">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 ">
                    <div class="editing-services-box">
                        <h2 class="heading-1"><center>What Our English Editing Service Will Do</center></h2>
                        <ul class="editing-list">
                            <li>Professional editors check for appropriate words, reliable punctuation, logical structure and consistency in terms of style, content and format.</li>
                            <li>With our guaranteed superior quality editing, you can now spend time on expanding your business rather than worrying about the correct words or syntax.</li>
                            <li>Deliver quality work of the highest standards to ensure the greatest level of accuracy, effective descriptions about yourself and your strengths.</li>
                            <li> Ensure superior customer service, our team is available 24/7 to handle all requests and provide personalised service that is flexible to your requirements.</li>
                            <li>A fresh pair of eyes can improve your documents or website with better flow, clarity, style, paragraph, syntax, improved word usage and grammar.</li>
                            <li>Ensure that the meaning of your document/text is conveyed in impeccable English without changing the meaning or the tone of your content.</li>
                        </ul>

                    </div><!--end of editing services box-->

                </div><!--end of col-md-6-->


            </div><!--end of row-->
        </div><!--end of container-->
    </div><!--end of container fluid-->
</section>
<!--===============================================================-->
<section class="countdown">
    <div class="contdown wow animated" data-wow-delay="100ms" style="visibility: visible;-webkit-animation-delay: 100ms; -moz-animation-delay: 100ms; animation-delay: 100ms;">
        <div class="container">
            <div class="contsect"><div id="shiva"><span class="count">36343</span> </div> <span class="stahd"><span>+</span> customers</span></div>
            <div class="contsect"><div id="shiva"><span class="count">98789</span></div> <span class="stahd"><span>+</span> documents</span></div>
            <div class="contsect"><div id="shiva"><span class="count">853</span></div> <span class="stahd"><span>+</span> subjects</span></div>
            <div class="contsect"><div id="shiva"><span class="count">154</span></div> <span class="stahd"><span>+</span> experts</span></div>
            <div class="contsect"><div id="shiva"><span class="count">10</span></div> <span class="stahd"><span>+</span> years of experience </span></div>
        </div>
    </div>
</section>
