
  <!--========================================================-->
  <div class="clearfix"></div>


  <section class="review">
    <div class="container">
      <h1 style="text-align: center"> Reviews</h1>
      <div class="user ">
        <div class="user1">
          <h3>We would be very grateful if you could provide us with some feedback about any of our services.

          </h3>
        </div>
        <br>
        <div class="clearfix"></div>
        <div class="row reviewform">
          <form action="" id="ReviewReviewsForm" method="post" accept-charset="utf-8">
            <div style="display:none;">
              <input type="hidden" name="_method" value="POST">
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail3" class="control-label">Name</label>
                <input name="data[Review][name]" class="form-control" type="text" id="ReviewName" required>
                <span class="error_msg" style="color:red"> </span>
              </div>
              <div class="clearfix"></div>
              <div class="form-group feedb">
                <label for="inputEmail3" class="control-label">Email</label>
                <input name="data[Review][email]" class="form-control" type="text" id="ReviewEmail" required>
                <span class="error_msg" style="color:red"> </span>
              </div>

            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail3" class="control-label" re>Feedback</label>
                <textarea name="data[Review][message]" class="form-control" id="ReviewMessage" required></textarea>
                <span class="error_msg" style="color:red"> </span>
              </div>
            </div>

            <center>
              <button type="submit" class="btn btn-primary" value="Send">send</button>
            </center>
          </form>
        </div>
      </div>

      <div class="clearfix"></div>
      <div class="clearfix"></div>
      <br>
      <div id="review1">
        <div class="txt">
          <h2>Here is what people have to say about our service</h2>
        </div>

        <div class="clearfix"></div>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <span class="glyphicon glyphicon-user"></span>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Joshua</h4>
            A very big thank you. Unnecessary complexity of my sentences in the article turned into elegant and short expressions.
            <br>
            <br>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <span class="glyphicon glyphicon-user"></span>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">Dhawan</h4>
            Amazing. It was perfect. I am very happy with the results. I am confident enough to say that the Editor chosen for my sample
            chapter did a perfect job.
            <br>
            <br>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <span class="glyphicon glyphicon-user"></span>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">sachin</h4>
            Excellent job. Very good suggestions for my novel. I have a better feeling of where to go with this story. Worth every dollar.
            This place is a gold mine!
            <br>
            <br>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <span class="glyphicon glyphicon-user"></span>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">varun</h4>
            Fast, reliable and extremely professional service! Thank you!
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </section>
