
  <section class="steps1">
    <div class="glove">
      <div class="container">
        <div class="text-center">
          <h2>Our Proofreading and Editing Samples</h2>
        </div>
        <div style="text-align: left">


          <span style="font-size:16px;">
            <span style="color:#696969;">
              <span style="font-family:arial,helvetica,sans-serif;">
                <p> Some of our students, businessmen, authors and job applicants, want to understand the quality of the efforts
                  that our expert proof-readers and editors put into editing their documents. Before submitting their documents
                  some others want to be assured that our service will be worth their money. While the rest just want to
                  understand how our proficient proof-readers and editors will proofread their documents.</p>

                <p>To see the quality of our work and reduce your apprehensions, download and view a sample of a document that
                  we have proofread. </p>
                <p> If you want additional examples or have any queries, please feel free to
                  <a href="contact.html">contact our Support Team</a>
                </p>
              </span>
            </span>
          </span>
        </div>
        <br>
        <br>

      </div>
    </div>
  </section>

  <section class="sample">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 text-center">

          </div>
          <!--end of col-md-12-->
        </div>
        <!--end of row-->

        <br>

        <div class="row row-eq-height">
          <div class="col-md-offset-1 col-md-2 col-sm-2 col-xs-12">
            <div class="service-box1">
              <div class="service-box-img">
                <a href="academic.html">
                  <img src="images/dummy1.png" class="img-responsive service-icon1" width="100">
                </a>
              </div>
              <!--end of service box icon-->

              <div class="service-box-text">
                <h3 class="heading-1">Academic</h3>
                <!--Dissertation, Thesis, Essay, Assignment, Literature Review, Research Paper, Article, Manuscript, Lecture Note, Journal Article, etc.-->
              </div>
              <!--end of service box text-->

            </div>
            <!--end of service box-->
          </div>
          <!--end of col-md-3-->

          <!--=================-->

          <div class="col-md-2 col-sm-2 col-xs-12">
            <div class="service-box1">
              <div class="service-box-img">
                <a href="business1.html">
                  <img src="images/dummy1.png" class="img-responsive service-icon1" width="100">
                </a>
              </div>
              <!--end of service box icon-->

              <div class="service-box-text">
                <h3 class="heading-1">Business</h3>
                <!--Marketing Material, Business document, Report, Catalogue, Brochure, Legal Document, E-mail, Newsletter, Manual, Press Release, etc.-->
              </div>
              <!--end of service box text-->

            </div>
            <!--end of service box-->
          </div>
          <!--end of col-md-3-->

          <!--==========================-->

          <div class="col-md-2 col-sm-2 col-xs-12">
            <div class="service-box1">
              <div class="service-box-img">
                <a href="authors.html">
                  <img src="images/dummy1.png" class="img-responsive service-icon1" width="100">
                </a>
              </div>
              <!--end of service box icon-->

              <div class="service-box-text">
                <h3 class="heading-1">Authors</h3>
                <!--Novel, Book, Manuscript, Magazine, Text Book, Story, Poem, Screenplay, Script, Blog Post, etc.-->
              </div>
              <!--end of service box text-->

            </div>
            <!--end of service box-->
          </div>
          <!--end of col-md-3-->

          <!--=============================-->

          <div class="col-md-2 col-sm-2 col-xs-12">
            <div class="service-box1">
              <div class="service-box-img">
                <a href="personal.html">
                  <img src="images/dummy1.png" class="img-responsive service-icon1" width="100">
                </a>
              </div>
              <!--end of service box icon-->

              <div class="service-box-text">
                <h3 class="heading-1">Personal</h3>
                <!--Résumé, CV, Cover Letter, E-mail, Personal Statement, ESL, University Application, Statement of Purpose, Speech, etc.-->
              </div>
              <!--end of service box text-->

            </div>
            <!--end of service box-->
          </div>
          <!--end of col-md-3-->


          <!--=============================-->

          <div class="col-md-2 col-sm-2 col-xs-12">
            <div class="service-box1">
              <div class="service-box-img">
                <a href="online-content.html">
                  <img src="images/dummy1.png" class="img-responsive service-icon1" width="100">
                </a>
              </div>
              <!--end of service box icon-->

              <div class="service-box-text">
                <h3 class="heading-1">Online Content</h3>
                <!--Résumé, CV, Cover Letter, E-mail, Personal Statement, ESL, University Application, Statement of Purpose, Speech, etc.-->
              </div>
              <!--end of service box text-->

            </div>
            <!--end of service box-->
          </div>
          <!--end of col-md-3-->

        </div>
        <!--end of row-->

      </div>
      <!--end of container-->
    </div>
    <!--end of container fluid-->
  </section>

