
  <section class="banner6">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">

            <div class="banner-content-thesis">
              <h1 class="heading-1"> Dissertation Proofreading</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 col-sm-7 col-xs-12 banner-content-thesis ">
            <p>The key to your success in academics and your professional life is right here in your hand. Yes, it’s your dissertation
              which you enthusiastically and single-mindedly have researched and worked on. After reviews and revisions,
              it is now time that an expert proof-reader thoroughly looks into any of those seemingly slight issues which
              may have dodged you. </p>
            <p>You have put in so much hard work and we understand that you want to hand your work without any ambiguity or
              shortcomings of language.
            </p>

            <ul class="banner-list">
              <li>Proofreading and editing both included in a single fee!</li>
              <li>Proofread to correct spelling, grammar, punctuation, and typography</li>
              <li>In-depth editing for style, tone, choice of words and sentence structure</li>
              <li>Experienced native English language speakers with Masters and PhDs</li>
              <li>Fast, affordable, confidential and available 24/7</li>
            </ul>
          </div>
          <!--col-md-7 col-sm-7 col-xs-12 banner-content-thesis-->
          <!--end of banner content-->
          <!--end of col-md-6-->

          <div class="col-md-5 col-sm-5 col-xs-12">
            <a href="pricing1.html">
              <button type="button" class="btn btn-success get-pricing">GET PRICING</button>
            </a>
            <div class="category">
              <img src="content/images/or3.png" style="padding-left:3cm;">
            </div>
            <div>
              <a href="free-sample-edit.html">
                <button class="order" href="https:">Get a Free Sample</button>
              </a>
            </div>
          </div>
          <!--end of col-md-5-->

        </div>
        <!--end of row-->
      </div>
      <!--end of container-->
    </div>
    <!--end of container fluid-->
  </section>
