<!--========================================================-->
<section class="banner6">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="banner-content-thesis">
            <h1 class="heading-1"> Thesis Proofreading</h1>
          </div>
          <!--banner-content-thesis-->
        </div>
        <!--col-md-12 col-sm-12 col-xs-12-->
      </div>
      <!--end of row-->
      <div class="row">
        <div class="col-md-7 col-sm-7 col-xs-12 banner-content-thesis ">
          <p>Your thesis is presently on the fringe of completion. The hard work you have put into it has been reviewed. All
            that you can think of now is the final submission. This is the stage when your unrelenting efforts need a just
            and honest look to catch any small details you may have missed out. </p>
          <p>
            Perfection is your aim, and so is ours. At TrueEditor’s we value your work and view your document with a fresh eye needed
            to catch some of the minutest, but paramount slip-ups, which are natural when one is so deeply involved in research.
            </p>

          <ul class="banner-list">
            <li>Proofread and edit your thesis in just a single fee!</li>
            <li>Correct spelling, grammar, punctuation, and typography errors</li>
            <li>In-depth editing for style, tone, choice of words and sentence structure</li>
            <li>Experienced native English language speakers with Masters and PhDs</li>
            <li>Fast, affordable, confidential and available 24/7</li>
          </ul>

        </div>
        <!--end of banner content-->


        <div class="col-md-5 col-sm-5 col-xs-12">
          <a href="pricing1.html">
            <button type="button" class="btn btn-success get-pricing">GET PRICING</button>
          </a>
          <div class="category">
            <img src="content/images/or3.png" style="padding-left:3cm;">
          </div>
          <div>
            <a href="free-sample-edit.html">
              <button class="order">Get a Free Sample</button>
            </a>
          </div>
        </div>
        <!--end of col-md-5-->

      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </div>
  <!--end of container fluid-->
</section>