<!--========================================================-->
<div class="clearfix"></div>


<section class="quest">
  <div class="geatbg">
    <div class="container getstarted">
      <div class="text-center">
        <h1>
          Privacy Policy</h1>
      </div>
      <div class="clearfix"></div>
      <!-- accordion div  -->

      <div class="container">
        <div class="terms">PRIVACY POLICY</div>
        <br>
        <div class="border"></div>
        <br>
        <p>We hold the confidentiality of your intellectual property, the documents and business data in high regard. As a professional
          online service, we value your trust in us and we are committed to protecting your privacy.</p>
        <p>Adhering to Data Protection Act 1998, we abide by the National Privacy Principles integrated in these acts, and all
          the documents you share with us are dealt with in accordance with the same.</p>
        <p>Our employees are under a confidentiality agreement. The client retains exclusive ownership of the copyrights and
          control over the documents shared.</p>
        <p>We have drafted a privacy policy exclusively for TrueEditors wherein the entire procedure of receiving, using and
          safeguarding your personal and professional information is described in detail.</p>
        <br>
        <div class="terms">AMENDMENT IN THE PRIVACY POLICY</div>
        <br>
        <div class="border"></div>
        <br>
        <p>*******s reserves the right to make any modifications/additions to its privacy policy whenever and wherever it finds
          necessary. These changes will come into effect after they have been announced on the website. We advise you to
          go through the privacy policy from time to time, as your use of our website following any such revision constitutes
          your agreement to follow and be bound by the altered privacy policy.</p>
        <br>
        <div class="terms">PERSONAL INFORMATION</div>
        <br>
        <div class="border"></div>
        <br>
        <p>Any personal information recorded by us, such as your name, e-mail id, etc., is used to offer you our services.</p>
        <p>We never store any information about the credit/debit card that you use for conducting transactions with us. All
          transactions are carried out through secure payment methods such as PayPal.</p>
        <p>We are committed to not disclosing your personal information to any other party, except with those who work on our
          behalf to deliver you the required service, which again abides by our privacy policy.</p>
        <p>We ensure that we take necessary steps to protect your data against any kind of misuse and loss.</p>
        <br>
        <div class="terms">DELETING YOUR DATA</div>
        <br>
        <div class="border"></div>
        <br>
        <p>******s ensures that all the data shared by you and all the documents are permanently wiped out from our system within
          120 days after the job is delivered.</p>
        <br>
        <div class="terms">EXTERNAL WEBSITES</div>
        <br>
        <div class="border"></div>
        <br>
        <p>********s bears no responsibility for the external links posted on its website. It is strongly recommended that you
          check the respective privacy policies of these external parties, as our privacy policy does not apply to them.
        </p>
        <br>
        <div class="terms">GRIEVANCES</div>
        <br>
        <div class="border"></div>
        <br>
        <p>If you have any complaints regarding our privacy policy, kindly communicate them to us (support@*******s.com). We
          will take the required action and contact you immediately.</p>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</section>
<!-- quest section end -->